
xoro/
calc/.metadata
calc/android/app/build.gradle
calc/android/app/src/debug/AndroidManifest.xml
calc/android/app/src/main/AndroidManifest.xml
calc/android/app/src/main/kotlin/com/example/calc/MainActivity.kt
calc/android/app/src/main/res/drawable-v21/launch_background.xml
calc/android/app/src/main/res/drawable/launch_background.xml
calc/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
calc/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
calc/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
calc/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
calc/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
calc/android/app/src/main/res/values-night/styles.xml
calc/android/app/src/main/res/values/styles.xml
calc/android/app/src/profile/AndroidManifest.xml
calc/android/build.gradle
calc/android/gradle.properties
calc/android/gradle/wrapper/gradle-wrapper.properties
calc/android/settings.gradle
calc/ios/Flutter/AppFrameworkInfo.plist
calc/ios/Flutter/Debug.xcconfig
calc/ios/Flutter/Release.xcconfig
calc/ios/Runner.xcodeproj/project.pbxproj
calc/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
calc/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
calc/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
calc/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
calc/ios/Runner.xcworkspace/contents.xcworkspacedata
calc/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
calc/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
calc/ios/Runner/AppDelegate.swift
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
calc/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
calc/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
calc/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
calc/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
calc/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
calc/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
calc/ios/Runner/Base.lproj/LaunchScreen.storyboard
calc/ios/Runner/Base.lproj/Main.storyboard
calc/ios/Runner/Info.plist
calc/ios/Runner/Runner-Bridging-Header.h
calc/lib/main.dart
calc/pubspec.lock
calc/pubspec.yaml
calc/README.md
chatting/.metadata
chatting/android/app/build.gradle
chatting/android/app/google-services.json
chatting/android/app/src/debug/AndroidManifest.xml
chatting/android/app/src/main/AndroidManifest.xml
chatting/android/app/src/main/kotlin/com/example/chatting/MainActivity.kt
chatting/android/app/src/main/res/drawable/launch_background.xml
chatting/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
chatting/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
chatting/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
chatting/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
chatting/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
chatting/android/app/src/main/res/values/styles.xml
chatting/android/app/src/profile/AndroidManifest.xml
chatting/android/build.gradle
chatting/android/gradle.properties
chatting/android/gradle/wrapper/gradle-wrapper.properties
chatting/android/settings.gradle
chatting/ios/Flutter/AppFrameworkInfo.plist
chatting/ios/Flutter/Debug.xcconfig
chatting/ios/Flutter/Release.xcconfig
chatting/ios/Runner.xcodeproj/project.pbxproj
chatting/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
chatting/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
chatting/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
chatting/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
chatting/ios/Runner.xcworkspace/contents.xcworkspacedata
chatting/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
chatting/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
chatting/ios/Runner/AppDelegate.swift
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
chatting/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
chatting/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
chatting/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
chatting/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
chatting/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
chatting/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
chatting/ios/Runner/Base.lproj/LaunchScreen.storyboard
chatting/ios/Runner/Base.lproj/Main.storyboard
chatting/ios/Runner/Info.plist
chatting/ios/Runner/Runner-Bridging-Header.h
chatting/lib/main.dart
chatting/lib/screens/auth_screen.dart
chatting/lib/screens/chat_screen.dart
chatting/lib/widgets/auth/auth_form.dart
chatting/lib/widgets/chat/message_bubble.dart
chatting/lib/widgets/chat/messages.dart
chatting/lib/widgets/chat/new_message.dart
chatting/lib/widgets/image_picke.dart
chatting/pubspec.lock
chatting/pubspec.yaml
chatting/README.md
chatting/test/widget_test.dart
coffe_shop_ui/
myshop/.metadata
myshop/android/app/build.gradle
myshop/android/app/google-services.json
myshop/android/app/src/debug/AndroidManifest.xml
myshop/android/app/src/main/AndroidManifest.xml
myshop/android/app/src/main/kotlin/com/example/myshop/MainActivity.kt
myshop/android/app/src/main/res/drawable-v21/launch_background.xml
myshop/android/app/src/main/res/drawable/launch_background.xml
myshop/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
myshop/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
myshop/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
myshop/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
myshop/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
myshop/android/app/src/main/res/values-night/styles.xml
myshop/android/app/src/main/res/values/styles.xml
myshop/android/app/src/profile/AndroidManifest.xml
myshop/android/build.gradle
myshop/android/gradle.properties
myshop/android/gradle/wrapper/gradle-wrapper.properties
myshop/android/settings.gradle
myshop/assets/fonts/Anton-Regular.ttf
myshop/assets/fonts/Lato-Bold.ttf
myshop/assets/fonts/Lato-Regular.ttf
myshop/assets/images/product-placeholder.png
myshop/ios/Flutter/AppFrameworkInfo.plist
myshop/ios/Flutter/Debug.xcconfig
myshop/ios/Flutter/Release.xcconfig
myshop/ios/Runner.xcodeproj/project.pbxproj
myshop/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
myshop/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
myshop/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
myshop/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
myshop/ios/Runner.xcworkspace/contents.xcworkspacedata
myshop/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
myshop/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
myshop/ios/Runner/AppDelegate.swift
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
myshop/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
myshop/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
myshop/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
myshop/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
myshop/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
myshop/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
myshop/ios/Runner/Base.lproj/LaunchScreen.storyboard
myshop/ios/Runner/Base.lproj/Main.storyboard
myshop/ios/Runner/Info.plist
myshop/ios/Runner/Runner-Bridging-Header.h
myshop/lib/main.dart
myshop/lib/models/http_exception.dart
myshop/lib/providers/auth.dart
myshop/lib/providers/cart.dart
myshop/lib/providers/orders.dart
myshop/lib/providers/product.dart
myshop/lib/providers/products.dart
myshop/lib/screens/auth_screen.dart
myshop/lib/screens/cart_screen.dart
myshop/lib/screens/edit_product_screen.dart
myshop/lib/screens/order_screen.dart
myshop/lib/screens/product_detail_screen.dart
myshop/lib/screens/product_overview_screen.dart
myshop/lib/screens/splash_screen.dart
myshop/lib/screens/user_products_screen.dart
myshop/lib/widgets/app_drawer.dart
myshop/lib/widgets/badge.dart
myshop/lib/widgets/cart_item.dart
myshop/lib/widgets/order_item.dart
myshop/lib/widgets/product_item.dart
myshop/lib/widgets/products_grid.dart
myshop/lib/widgets/user_product_item.dart
myshop/pubspec.lock
myshop/pubspec.yaml
myshop/README.md
myshop/test/widget_test.dart
tiktok_ui/.metadata
tiktok_ui/android/app/build.gradle
tiktok_ui/android/app/src/debug/AndroidManifest.xml
tiktok_ui/android/app/src/main/AndroidManifest.xml
tiktok_ui/android/app/src/main/kotlin/com/example/tiktok_ui/MainActivity.kt
tiktok_ui/android/app/src/main/res/drawable-v21/launch_background.xml
tiktok_ui/android/app/src/main/res/drawable/launch_background.xml
tiktok_ui/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
tiktok_ui/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
tiktok_ui/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
tiktok_ui/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
tiktok_ui/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
tiktok_ui/android/app/src/main/res/values-night/styles.xml
tiktok_ui/android/app/src/main/res/values/styles.xml
tiktok_ui/android/app/src/profile/AndroidManifest.xml
tiktok_ui/android/build.gradle
tiktok_ui/android/gradle.properties
tiktok_ui/android/gradle/wrapper/gradle-wrapper.properties
tiktok_ui/android/settings.gradle
tiktok_ui/assets/fonts/TikTokIcons.ttf
tiktok_ui/ios/Flutter/AppFrameworkInfo.plist
tiktok_ui/ios/Flutter/Debug.xcconfig
tiktok_ui/ios/Flutter/Release.xcconfig
tiktok_ui/ios/Runner.xcodeproj/project.pbxproj
tiktok_ui/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
tiktok_ui/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tiktok_ui/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
tiktok_ui/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
tiktok_ui/ios/Runner.xcworkspace/contents.xcworkspacedata
tiktok_ui/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
tiktok_ui/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
tiktok_ui/ios/Runner/AppDelegate.swift
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
tiktok_ui/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
tiktok_ui/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
tiktok_ui/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
tiktok_ui/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
tiktok_ui/ios/Runner/Base.lproj/LaunchScreen.storyboard
tiktok_ui/ios/Runner/Base.lproj/Main.storyboard
tiktok_ui/ios/Runner/Info.plist
tiktok_ui/ios/Runner/Runner-Bridging-Header.h
tiktok_ui/lib/main.dart
tiktok_ui/lib/tik_tok_icons_icons.dart
tiktok_ui/pubspec.lock
tiktok_ui/pubspec.yaml
tiktok_ui/README.md
tiktok_ui/test/widget_test.dart
tiktok_ui/web/favicon.png
tiktok_ui/web/icons/Icon-192.png
tiktok_ui/web/icons/Icon-512.png
tiktok_ui/web/index.html
tiktok_ui/web/manifest.json
todo/.metadata
todo/analysis_options.yaml
todo/android/app/build.gradle
todo/android/app/src/debug/AndroidManifest.xml
todo/android/app/src/main/AndroidManifest.xml
todo/android/app/src/main/kotlin/com/example/todo/MainActivity.kt
todo/android/app/src/main/res/drawable-v21/launch_background.xml
todo/android/app/src/main/res/drawable/appicon.jpeg
todo/android/app/src/main/res/drawable/launch_background.xml
todo/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
todo/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
todo/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
todo/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
todo/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
todo/android/app/src/main/res/values-night/styles.xml
todo/android/app/src/main/res/values/styles.xml
todo/android/app/src/profile/AndroidManifest.xml
todo/android/build.gradle
todo/android/gradle.properties
todo/android/gradle/wrapper/gradle-wrapper.properties
todo/android/settings.gradle
todo/images/appicon.jpeg
todo/images/person.jpeg
todo/images/task.svg
todo/ios/Flutter/AppFrameworkInfo.plist
todo/ios/Flutter/Debug.xcconfig
todo/ios/Flutter/Release.xcconfig
todo/ios/Runner.xcodeproj/project.pbxproj
todo/ios/Runner.xcodeproj/project.xcworkspace/contents.xcworkspacedata
todo/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
todo/ios/Runner.xcodeproj/project.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
todo/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
todo/ios/Runner.xcworkspace/contents.xcworkspacedata
todo/ios/Runner.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
todo/ios/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings
todo/ios/Runner/AppDelegate.swift
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Contents.json
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-1024x1024@1x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@1x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@2x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-20x20@3x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@1x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@2x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-29x29@3x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@1x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@2x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-40x40@3x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@2x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-60x60@3x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@1x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-76x76@2x.png
todo/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-App-83.5x83.5@2x.png
todo/ios/Runner/Assets.xcassets/LaunchImage.imageset/Contents.json
todo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage.png
todo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@2x.png
todo/ios/Runner/Assets.xcassets/LaunchImage.imageset/LaunchImage@3x.png
todo/ios/Runner/Assets.xcassets/LaunchImage.imageset/README.md
todo/ios/Runner/Base.lproj/LaunchScreen.storyboard
todo/ios/Runner/Base.lproj/Main.storyboard
todo/ios/Runner/Info.plist
todo/ios/Runner/Runner-Bridging-Header.h
todo/lib/controllers/task_controller.dart
todo/lib/db/db_helper.dart
todo/lib/main.dart
todo/lib/models/task.dart
todo/lib/services/notification_services.dart
todo/lib/services/notification_services.rar
todo/lib/services/theme_services.dart
todo/lib/ui/pages/add_task_page.dart
todo/lib/ui/pages/home_page.dart
todo/lib/ui/pages/notification_screen.dart
todo/lib/ui/size_config.dart
todo/lib/ui/theme.dart
todo/lib/ui/widgets/button.dart
todo/lib/ui/widgets/custom_appbar.dart
todo/lib/ui/widgets/input_field.dart
todo/lib/ui/widgets/task_tile.dart
todo/pubspec.lock
todo/pubspec.yaml
todo/README.md
todo/web/favicon.png
todo/web/icons/Icon-192.png
todo/web/icons/Icon-512.png
todo/web/icons/Icon-maskable-192.png
todo/web/icons/Icon-maskable-512.png
todo/web/index.html
todo/web/manifest.json
